$main-color: #001935;

.post-container {
    box-sizing: border-box;
    //display: flex;
    //flex-wrap: wrap;
    //flex-direction: column;
    background-color: $main-color;
    padding-top: 100px;
    align-content: center;
    justify-items: center;
    text-align: center;
    min-height: 100vw;

    i {
        cursor: pointer
    }
}

.posts-column {
    max-width: 31.25em;
    margin: 0 auto;
}

.post-item {
    width: 100%;
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: left;
}

.post-item-avatar {
    max-height: 2.0em;
}

.post-item-username {
    padding-left: 8px;
    font-size: 1.3em;
    vertical-align: top;
    display: inline-block;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 6.25em;
    width: 28em;
    margin: 0 auto;
}

.post-form-container {
    position: absolute;
    background-color: white;
    color: black;
    width: 20em;
    height: 300px;
    display: none;
}

.post-form-container-revealed {
    position: absolute;
    background-color: white;
    //width: 20em;
    width: 31.25em;
    max-width: 31.25em;
    height: 300px;
    display: block;
    color: black;
    border-radius: 4px;
    text-align: left;
    border: 1px solid grey;

    input {
        display: block;
    }
}

.post-modal-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.post-modal-container {
    background-color: white;
    width: 31.25em;
    max-width: 31.25em;
    height: 300px;
    display: block;
    color: black;
    border-radius: 4px;
    text-align: left;
    border: 1px solid grey;

    input {
        display: block;
    }
}

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.post-header {
    font-size: 2em;
}

.post-body {
    margin-top: 10px;
    resize: none;
    border: none;
    width: 95%;
}

#photo-upload-button {
    display: block;
    font-size: 48px;
}

.image-preview {
    width: 100%;
    height: auto;
}

.pf-username {
    padding-left: 0.4em
}

.file-input-wrapper {
    height: 0;
    overflow: hidden;
}

.post-button {
    width: 25%;
    //border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    background-color: white;

    i {
        font-size: 48px;
        padding-top: 8px;
    }

    i:hover {
        transform: translateY(-2px);
    }
}

.text-post {
    color: red;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.photo-post {
    color: cyan;
}

.quote-post {
    color: green;
}

.chat-post {
    color: purple;
    
}

.audio-post {
    color: yellowgreen;
}

.video-post {
    color: brown;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.post-bar {
    color: lightgreen;
}

.drop-zone {
    background-color: red;
    height: 30px;
    width: 30px;
}

.dragged-over {
    background-color: green;
    border: 1px solid black;
}