.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

$session-form-width: 200px;

.session-container {
    background-image: image-url('mountain_lake');
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   // max-width: 400px;
    min-height: 100vh;
    background-size: 100% auto;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-top: 20px;
    flex-direction: column;
}

.login {
    background-color: #00b8ff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    width: 100%;
    margin-top: 8px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.demo-login {
    background-color:grey;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    // width: 250px;
    // margin-top: 8px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.email-input {
    border-top: 1px solid lightgrey;
}

.flat-input {
    border: none;
    box-shadow: none;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: #8f8f8f
}

input {
        box-shadow: none;
        border: none;
}

.sliding-from-right {

    animation: sfr 0.4s 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    @keyframes sfr {
        0% {
            transform: scaleX(0);
            transform-origin: 100% 100%;
        }

        100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
        }
    }
}

.title-text {
    text-align: center;
    font-size: 3.6em;
}

.error-list {
    //height: 100px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}